@tailwind base;
@tailwind components;
@tailwind utilities;


*{
font-family: 'Roboto', sans-serif;
}

.slick-dots{
    padding-top: 100px !important;
}

.round-card:hover .round{
    background-color: purple;
}

.round-card:hover .inner-ball{
    background-color: white;
    margin-left: -20px;
}
.round-card:hover .outer-ball{
    background-color: white;
    color: rgb(88, 145, 103) ;
    
}



/* pulse */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #e5e5fa;
} */
.pulse{
    position: absolute;
    margin: auto;
    /* left: 0; */
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: #ffffff;
}
.pulse:before,
.pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: purple;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
}
.pulse:after{
    animation: pulse 2s 2s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
/* pulse */




/* pulse2 */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #e5e5fa;
} */
.pulse2{
    position: absolute;
    margin: auto;
    /* left: 0; */
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: #ffffff;
}
.pulse2:before,
.pulse2:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: purple;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.pulse2:before{
    animation: pulse 2s ease-out infinite;
}
.pulse2:after{
    animation: pulse 2s 2s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
/* pulse */